{% extends 'base.html' %}

{% block content %}
<div class="form-background">
  <div class='blank-space'></div>
  <div class="container" align="center">
    <div class="login-form vis-wrap-1">
      <h1 class="white">Sign in</h1>
      <div class="small-space"></div>
      {% if error %}
        <p style="background-color: red ; padding: 10px; ">{{ error }}</p>
      {% endif %}
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        
        <input class="sign-up" type="text" name="username" placeholder="Username" minlength="2">
        <input class="sign-up" type="password" name="password" placeholder="Password" minlength="4">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Login</button>
      </form>
      <div class="small-space"></div>
      <h3 class="white">Not a User?</h3>
      <div class="small-space"></div>
      <a class="white" href="{% url 'register' %}">Register</a>
    </div>
  </div>
  <div class='blank-space'></div>
</div>
{% endblock %}