{% extends 'base.html' %}

{% block content %}
<div class="register-background">
  <div class='blank-space'></div>
  <div class='blank-space'></div>
  <div class="container">
    <div class="login-form">
      <h1 id="register-form">Register</h1>
      <div class="small-space"></div>
      {% if error %}
        <p style="background-color: red; padding: 10px; ">{{ error }}</p>
      {% endif %}
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}

        <input type="text" id="first_name" name="first_name" placeholder="first name" minlength="2">
        <input type="text" name="last_name" placeholder="last name" minlength="2">
        <input type="email" name="email" placeholder="email" minlength="2">
        <input type="text" name="username" placeholder="username" minlength="2">
        <input type="password" name="password" placeholder="password" minlength="4">
        <input type="password" name="password2" placeholder="confirm password" minlength="4">
        <input type="submit" name="" value="register">
      </form>
    </div>
    </div>
  <div class="medium-space"></div>
</div>
{% endblock %}