{% extends 'base.html' %}

{% block content %}
  <div class='about-background'>
    <h1>About Us</h1>
    <div class='container'>
      <p>Scrapegate is the idea site for football fans everywhere! We scrape the lastest and greatest football statistics from ESPN in order to provide a quick and easy way for fans to accesses important information for their football needs. Whether you need help building your fantasy team or comparing an upcoming matchup for your favorite team, Scrapegate has what you need to succeed whatever your needs may be</p>
    </div>
  </div>
{% endblock %}