{% extends 'base.html' %}

{% block content %}
<div class="home-background">
  <div class="container">
    <div class="blank-space"></div>
    <h1>Welcome to ScrapeGate! View Your Statistic</h1>
    <div class="medium-space"></div>
    <div class="row">
      <div class="col"><a href="scraper/passing">Passing</a></div>
      <div class="col"><a href="scraper/rushing">Rushing</a></div>
      <div class="col"><a href="scraper/receiving">Receiving</a></div>
      <div class="col"><a href="scraper/returning">Returning</a></div>
      <div class="col"><a href="scraper/punting">Punting</a></div>
      <div class="col"><a href="scraper/defense">Defense</a></div>
      <div class="col"><a href="scraper/turnovers">Turnovers</a></div>
    </div>
    <div class="blank-space"></div>
  </div>
</div>
{% endblock %}