{% extends 'base.html' %}

{% block content %}
<div class="home-background">
  <div class="container">
    <div class="blank-space"></div>
    <section class="vis-wrap-3">
      <h1 class="white">Welcome to ScrapeGate! View Your Statistic</h1>
      <div class="medium-space"></div>
      <div class="row">
        <div class="col"><a class="white" href="scraper/passing">Passing</a></div>
        <div class="col"><a class="white" href="scraper/rushing">Rushing</a></div>
        <div class="col"><a class="white" href="scraper/receiving">Receiving</a></div>
        <div class="col"><a class="white" href="scraper/returning">Returning</a></div>
        <div class="col"><a class="white" href="scraper/punting">Punting</a></div>
        <div class="col"><a class="white" href="scraper/defense">Defense</a></div>
        <div class="col"><a class="white" href="scraper/turnovers">Turnovers</a></div>
      </div>
    </section>
    <div class="blank-space"></div>
  </div>
</div>
{% endblock %}