/************************************
****Footer
************************************/

footer {
  background-color: #212529;
  color: #fff;
}

.btn-danger {
  background: #212529;
  border-color: #212529;
}

.btn-danger:hover {
  background-color: transparent;
  border-color: transparent;
}

footer .fab {
  font-size: 50px;
  padding: 0 20px;
}
