/************************************
****Global
************************************/

* {
  font-family: 'Oswald', sans-serif;
}

/************************************
****Layout
************************************/

.blank-space {
  padding: 100px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

p {
  text-align: center;
  padding: 15px;
  font-size: 1.5em;
}

/************************************
****Footer
************************************/

footer {
  background-color: #212529;
  color: #fff;
}

footer .fab {
  font-size: 50px;
  padding: 20px 20px 0px;
}
